.container-fluid {
  width: 90%;
  margin: 10px auto;
}
.table {
  width: 100%;
}
th {
  width: 50%;
}
.showIfLast {
  display: none;
  text-align: center;
}
.showIfLast:last-child {
  display: table-row;
}
