<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sentence</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr class='showIfLast'>
        <td colspan="2">No items</td>
      </tr>
      <tr id="sentence" *ngFor="let sentence of sentences">
        <td>{{ sentence.content }}</td>
        <td>{{ sentence.reversed }}</td>
      </tr>
    </tbody>
  </table>
</div>
