<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Wordsmith</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="handler-link" class="nav-link" routerLink="/handler" routerLinkActive="active">Handler</a>
    </li>
    <li class="nav-item">
      <a id="results-link" class="nav-link" routerLink="/latest" routerLinkActive="active">Latest results</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
