<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 col-12">
        <label for="sentence">Sentence:</label>
        <textarea id="sentence" class="textarea-left" rows="6" [(ngModel)]="sentence.content"></textarea>
        <button id="process" type="button" class="btn btn-default" (click)="processSentence()">Process</button>
      </div>

    <div class="col-md-6 col-12">
      <label for="result">Result:</label>
      <textarea id="result" class="textarea-right" rows="6" [(ngModel)]="sentence.reversed" readonly></textarea>
    </div>
  </div>
</div>

